

    

<div class="cardstitle"><p class="pcardtitle">Houpaci Bags</p></div>

<body>
  <!-- <div pAnimate enterClass="flip" leaveClass="fadeoutleft" class=" flex justify-content-center align-items-center h-20rem w-20rem border-round shadow-2 animation-duration-100 animation-ease-out"> -->

<div class="cards">
  <!-- class="col-md-4 ftco-animate fadeInUp ftco-animated" data-aos="fade-up"  -->

<div class="card" data-aos="fade-up">
  <div style="width:100%; height:100%; background-color: rgb(41, 43, 43); ">
  <p-galleria [value]="images" [responsiveOptions]="responsiveOptions" [numVisible]="5" 
  thumbnailsPosition="bottom"  [showThumbnailNavigators]="false" [autoPlay]="true">
      <ng-template pTemplate="item" let-item>
          <img [src]="item.previewImageSrc" style="width: 100%; height: 250px; object-fit: cover; display: block;"/>
      </ng-template>
  
      <ng-template [thumbnailsPosition]="left" pTemplate="thumbnail" let-item  >
          <div class="grid grid-nogutter justify-content-center"  >
              <img [src]="item.thumbnailImageSrc" class="thumb"/>
          </div>
      </ng-template>
  
  </p-galleria>
</div>
    <!-- <img class="card-img-top" src="assets\card1.jpg" alt="Card image cap"> -->
    <div class="card-body">
      <h5 class="card-title">Houpací #064</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="https://www.facebook.com/houpacii/photos/pb.100063777535498.-2207520000./560763642308151/?type=3" class="btn btn-warning mybtn">See More</a>
    </div>
</div>








<div class="card">
  <div style="width:100%; height:100%; background-color: rgb(41, 43, 43); ">
    <p-galleria [value]="images2" [responsiveOptions]="responsiveOptions" [numVisible]="5" 
    thumbnailsPosition="bottom" [showThumbnailNavigators]="false" [autoPlay]="true">
        <ng-template pTemplate="item" let-item>
            <img [src]="item.previewImageSrc" style="width: 100%; height: 250px; object-fit: cover; display: block;"/>
        </ng-template>
    
        <ng-template [thumbnailsPosition]="left" pTemplate="thumbnail" let-item  >
            <div class="grid grid-nogutter justify-content-center"  >
                <img [src]="item.thumbnailImageSrc" class="thumb"/>
            </div>
        </ng-template>
    
    </p-galleria>
  </div>
    <!-- <img class="card-img-top" src="assets\card2.jpg" alt="Card image cap"> -->
    <div class="card-body">
      <h5 class="card-title">Houpací #064</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="https://www.facebook.com/houpacii/photos/pb.100063777535498.-2207520000./289393712778480/?type=3" class="btn btn-warning mybtn">See More</a>
    </div>
</div>








<div class="card">
  <div style="width:100%; background-color: rgb(41, 43, 43); ">
    <p-galleria [value]="images3" [responsiveOptions]="responsiveOptions" [numVisible]="5" 
    thumbnailsPosition="bottom"  [showThumbnailNavigators]="false" [autoPlay]="true">
        <ng-template pTemplate="item" let-item>
            <img [src]="item.previewImageSrc" style="width: 100%;  height: 250px; object-fit: cover; display: block;"/>
        </ng-template>
    
        <ng-template [thumbnailsPosition]="left" pTemplate="thumbnail" let-item  >
            <div class="grid grid-nogutter justify-content-center"  >
                <img [src]="item.thumbnailImageSrc" class="thumb"/>
            </div>
        </ng-template>
    
    </p-galleria>
  </div>
    <!-- <img class="card-img-top" src="assets\card3.jpg" alt="Card image cap"> -->
    <div class="card-body">
      <h5 class="card-title">Houpací #064</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="https://www.facebook.com/houpacii/photos/pb.100063777535498.-2207520000./420072496377267/?type=3" class="btn btn-warning mybtn">See More</a>
    </div>
</div>







<div class="card" >
  <div style="width:100%; background-color: rgb(41, 43, 43); ">
    <p-galleria [value]="images4" [responsiveOptions]="responsiveOptions" [numVisible]="5" 
    thumbnailsPosition="bottom" [showThumbnailNavigators]="false" [autoPlay]="true">
        <ng-template pTemplate="item" let-item>
            <img [src]="item.previewImageSrc" style="width: 100%;  height: 250px; object-fit: cover; display: block;"/>
        </ng-template>
    
        <ng-template [thumbnailsPosition]="left" pTemplate="thumbnail" let-item  >
            <div class="grid grid-nogutter justify-content-center"  >
                <img [src]="item.thumbnailImageSrc" class="thumb"/>
            </div>
        </ng-template>
    
    </p-galleria>
  </div>
    <!-- <img class="card-img-top" src="assets\card4.jpg" alt="Card image cap"> -->
    <div class="card-body">
      <h5 class="card-title">Houpací #064</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="https://www.facebook.com/photo/?fbid=296747392043112&set=pb.100063777535498.-2207520000." class="btn btn-warning mybtn">See More</a>
    </div>
</div>






<div class="card" >
  <div style="width:100%; background-color: rgb(41, 43, 43); ">
    <p-galleria [value]="images5" [responsiveOptions]="responsiveOptions" [numVisible]="5" 
    thumbnailsPosition="bottom" [showThumbnailNavigators]="false" [autoPlay]="true">
        <ng-template pTemplate="item" let-item>
            <img [src]="item.previewImageSrc" style="width: 100%;  height: 250px; object-fit: cover; display: block;"/>
        </ng-template>
    
        <ng-template [thumbnailsPosition]="left" pTemplate="thumbnail" let-item  >
            <div class="grid grid-nogutter justify-content-center"  >
                <img [src]="item.thumbnailImageSrc" class="thumb"/>
            </div>
        </ng-template>
    
    </p-galleria>
  </div>
    <!-- <img class="card-img-top" src="assets\card5.jpg" alt="Card image cap"> -->
    <div class="card-body">
      <h5 class="card-title">Houpací #064</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="https://www.facebook.com/houpacii/photos/pb.100063777535498.-2207520000./290375922680259/?type=3" class="btn btn-warning mybtn">See More</a>
    </div>
</div>




<div class="card" >
  <div style="width:100%; background-color: rgb(41, 43, 43); ">
    <p-galleria [value]="images6" [responsiveOptions]="responsiveOptions" [numVisible]="5" 
    thumbnailsPosition="bottom" [showThumbnailNavigators]="false" [autoPlay]="true">
        <ng-template pTemplate="item" let-item>
            <img [src]="item.previewImageSrc" style="width: 100%;  height: 250px; object-fit: cover; display: block;"/>
        </ng-template>
    
        <ng-template [thumbnailsPosition]="left" pTemplate="thumbnail" let-item  >
            <div class="grid grid-nogutter justify-content-center"  >
                <img [src]="item.thumbnailImageSrc" class="thumb"/>
            </div>
        </ng-template>
    
    </p-galleria>
  </div>
    <!-- <img class="card-img-top" src="assets\card6.jpg" alt="Card image cap"> -->
    <div class="card-body">
      <h5 class="card-title">Houpací #064</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="https://www.facebook.com/houpacii/photos/pb.100063777535498.-2207520000./422457239472126/?type=3" class="btn btn-warning  mybtn">See More</a>
      
    </div>
</div>

</div>
</body>