
  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar  ftco-navbar-light scrolled awake mynav" id="ftco-navbar">
    <div class="container">
        <!-- <a class="navbar-brand" href="#" style="background-image:url(logo.png)" >HOUPACI<span class="my1span">Leather Accesories</span></a> -->

<a  routerLink="/houpaci"
routerLinkActive="acitve" ><img src="assets\logo-removebg-preview.png" 
        class="mylogo" 
      ></a>

            <button class="navbar-toggler mymenu" type="button" 
            data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" 
            aria-expanded="true" aria-label="Toggle navigation"
    >
               <span class="fa fa-bars"></span>
                <!-- Menu -->
            </button>
        <div class="collapse navbar-collapse" id="ftco-nav">
           <ul class="navbar-nav ml-auto">
                  <li class="nav-item active dropdown drop">
                    <a href="#" class="nav-link dropdown-toggle myfirstnavlink" 
                        id="navbarDropdown" role="button" data-toggle="dropdown" 
                         aria-haspopup="true" aria-expanded="false">BAGS</a>
                    <div class="dropdown-menu dropman" aria-labelledby="navbarDropdown" 
              >
              <!-- <nav>
                <a routerLink="/heroes">Heroes</a>
              </nav> -->
                        <a class="dropdown-item dropit" 
                             routerLink="/bags"
                             routerLinkActive="acitve"
                            >Handbags & Purses </a>
                        <a class="dropdown-item dropit" 
                        routerLink="/backpacks"
                        routerLinkActive="acitve"
                        >Backpacks</a>
                        <!-- <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a> -->
                     </div>   
                  </li>

                  <li class="nav-item dropdown drop">
                    <a href="#" class="nav-link dropdown-toggle" 
                         id="navbarDropdown" role="button" data-toggle="dropdown" 
                         aria-haspopup="true" aria-expanded="false">ACCESSORIES</a>
                         <div class="dropdown-menu dropman" aria-labelledby="navbarDropdown" 
                        >
                            <a class="dropdown-item dropit" href="#" >Action</a>
                            <a class="dropdown-item dropit" href="#">Another action</a>
                            <!-- <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a> -->
                         </div>   
                   </li>
                  <li class="nav-item drop"><a href="#" class="nav-link">MASTERCLASSES</a></li>
                  <!-- <li class="nav-item"><a href="#" class="nav-link">Blog</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">Contact</a></li> -->
                  <li class="nav-item cta"><a href="https://api.whatsapp.com/send?phone=%2B995598744500&fbclid=IwAR3yeZDOtIW4kVOL36-fGbiIb2FyLbIo7PWpBTALW8IMVarQvTr8gie8Do0" 
                    class="nav-link mylastnavlink">CONTACT</a></li>
           </ul>
         </div>
     </div>
</nav>




