<p>h</p>

<section class="ftco-counter mysection" id="section-counter">
    <div class="container">
      <div class="row d-flex cards">
          <div class=" d-flex mycard" >
         
             <p-galleria [value]="images4" [responsiveOptions]="responsiveOptions" [numVisible]="5" 
             thumbnailsPosition="bottom" [showThumbnailNavigators]="false" [autoPlay]="true" 
             class="galleria">
                 <ng-template pTemplate="item" let-item>
                     <img [src]="item.previewImageSrc" 
                     class="template"/>
                 </ng-template>
             
                 <ng-template [thumbnailsPosition]="left" pTemplate="thumbnail" let-item  >
                     <div class="grid grid-nogutter justify-content-center"  >
                         <img [src]="item.thumbnailImageSrc" class="thumb"/>
                     </div>
                 </ng-template>
             
             </p-galleria>
          </div>
       <div class="card2">
          <div class="row justify-content-start" data-aos="fade-up">
               <div class="col-md-12 heading-section ftco-animate fadeInUp ftco-animated mytext">
                     <!-- <h2 class="mb-4 myh2-1">Make Your Tour Memorable and Safe With Us</h2>
                     <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                 -->
                 <h5 class="card-title cardtitle">Houpací #064</h5>
                 <p class="card-text cardtext">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                 <p class="card-text cardtext">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                 <p class="card-text cardtext">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                 <a href="https://www.facebook.com/houpacii/photos/pb.100063777535498.-2207520000./422457239472126/?type=3" class="btn btn-warning  mybtn">See More</a>
                 
               </div>
          </div>
           
          
        </div>
      </div>
    </div>
  </section>


  
<section class="ftco-counter mysection" id="section-counter">
    <div class="container">
      <div class="row d-flex cards">
          <div class=" d-flex mycard" >
         
             <p-galleria [value]="images4" [responsiveOptions]="responsiveOptions" [numVisible]="5" 
             thumbnailsPosition="bottom" [showThumbnailNavigators]="false" [autoPlay]="true" 
             class="galleria">
                 <ng-template pTemplate="item" let-item>
                     <img [src]="item.previewImageSrc" 
                     class="template"/>
                 </ng-template>
             
                 <ng-template [thumbnailsPosition]="left" pTemplate="thumbnail" let-item  >
                     <div class="grid grid-nogutter justify-content-center"  >
                         <img [src]="item.thumbnailImageSrc" class="thumb"/>
                     </div>
                 </ng-template>
             
             </p-galleria>
          </div>
       <div class="card2">
          <div class="row justify-content-start" data-aos="fade-up">
               <div class="col-md-12 heading-section ftco-animate fadeInUp ftco-animated mytext">
                     <!-- <h2 class="mb-4 myh2-1">Make Your Tour Memorable and Safe With Us</h2>
                     <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                 -->
                 <h5 class="card-title cardtitle">Houpací #064</h5>
                 <p class="card-text cardtext">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                 <p class="card-text cardtext">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                 <p class="card-text cardtext">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                 <a href="https://www.facebook.com/houpacii/photos/pb.100063777535498.-2207520000./422457239472126/?type=3" class="btn btn-warning  mybtn">See More</a>
                 
               </div>
          </div>
           
          
        </div>
      </div>
    </div>
  </section>

  
<section class="ftco-counter mysection" id="section-counter">
    <div class="container">
      <div class="row d-flex cards">
          <div class=" d-flex mycard" >
         
             <p-galleria [value]="images4" [responsiveOptions]="responsiveOptions" [numVisible]="5" 
             thumbnailsPosition="bottom" [showThumbnailNavigators]="false" [autoPlay]="true" 
             class="galleria">
                 <ng-template pTemplate="item" let-item>
                     <img [src]="item.previewImageSrc" 
                     class="template"/>
                 </ng-template>
             
                 <ng-template [thumbnailsPosition]="left" pTemplate="thumbnail" let-item  >
                     <div class="grid grid-nogutter justify-content-center"  >
                         <img [src]="item.thumbnailImageSrc" class="thumb"/>
                     </div>
                 </ng-template>
             
             </p-galleria>
          </div>
       <div class="card2">
          <div class="row justify-content-start" data-aos="fade-up">
               <div class="col-md-12 heading-section ftco-animate fadeInUp ftco-animated mytext">
                     <!-- <h2 class="mb-4 myh2-1">Make Your Tour Memorable and Safe With Us</h2>
                     <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                 -->
                 <h5 class="card-title cardtitle">Houpací #064</h5>
                 <p class="card-text cardtext">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                 <p class="card-text cardtext">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                 <p class="card-text cardtext">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                 <a href="https://www.facebook.com/houpacii/photos/pb.100063777535498.-2207520000./422457239472126/?type=3" class="btn btn-warning  mybtn">See More</a>
                 
               </div>
          </div>
           
          
        </div>
      </div>
    </div>
  </section>



<app-footer  >
</app-footer>